ol {
    margin: 0;
    padding: 0
}
footer {
    line-height: 3rem;
    color: white;
    text-align: center;
    background-color: #333;
}
body {
    display: flex;
    min-height: 98vh;
    flex-direction: column;

}

.container {
    flex: 1;
}
/* Style for the header and navbar */
.header {
    background-color: #333; /* Dark background for the header */
    position: fixed; /* Make the header fixed at the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays on top of other content */
    box-shadow: 0 4px 2px -2px gray; /* Adds a subtle shadow to the header */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #f4a261; /* Change the color on hover */
}

.styled-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.styled-table {
    background-color: #f5f5f5; /* Off-gray color */
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    max-width: 1000px;
}
.styled-table th, .styled-table td {
    /*border: 1px solid black;*/
    padding: 8px;
    text-align: left;
}
.styled-table th {
    background-color: #e6e6e6;
}

/* Alternate row background colors */
.styled-table tr:nth-child(odd) {
    background-color: #fafafa; /* Light gray for odd rows */
}

.styled-table tr:nth-child(even) {
    background-color: #f1f1f1; /* Slightly darker gray for even rows */
}

.styled-table caption {
    font-size: 1.5em; /* Bigger font size */
    font-weight: bold; /* Bold text */
    /* color: #4CAF50; /* Green color */
    text-align: center; /* Center align the caption */
    margin-bottom: 15px; /* Space below the caption */
    font-family: 'Arial', sans-serif; /* Custom font */
    background-color: #e6e6e6; /* Light gray background */
    padding: 10px; /* Padding around the caption */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c1 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c4 {
    text-indent: 36pt
}

.c5 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 40pt;
    color: #000000;
    font-size: 20pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

